@charset "utf-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 외부 CSS 불러오기 */
/* @import url(경로/파일명); */

/* 초기화CSS */
@import url(./reset.css);

/* 상단,하단 공통모듈 */
@import url(./common.css);

/* 공통설정 */
/* .main-area 직계자식(>) 모두 선택
별(*)은 모든것을 선택하는 문자열 */
.main-area > * {
  margin-bottom: 20px;
}

/* 2-1. 서브타이틀 */
.sub-title {
  /* (1)박스디자인 */
  /* 패딩 p40 */
  padding: 40px;
  /* 글자중앙 tac */
  text-align: center;
  /* 테두리 bd */
  border: 2px solid darkblue;
  /* 둥근모서리 bdrs20 */
  border-radius: 20px;

  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* 배경넣기 bg -> 색이반고윙/크 */
  /* background: url(../images/titbg4.jpg) no-repeat 0/cover; */

  /* (2)글자디자인 */
  /* 글자체 ff */
  font-family: "Jua", sans-serif;
  /* 글자크기 fz30 */
  font-size: 40px;

  /* 글자테두리 webtst
    -> 테두리 두께를 더 얇게 하려면
    px단위 숫자를 소수점 아래로 쓰면됨 */
  -webkit-text-stroke: 0.1px #000;
  /* 접두어란? 
    속성앞에 -webkit- 라고 쓰면
    크롬, 사파리 브라우저용 속성임
    -ms- 마이크로소프트
    -o- 오페라 브라우저
    -moz- 파이어폭스
    이 속성은 이미 공식적으로는 아니지만
    다른 최신브라우저에서 사용됨!
    */
}
/* 각 서브별 타이틀 셋팅 변경하기 */
/* (1) 경제페이지 */
.economics {
  color: lightsalmon;
  background-image: url(../images/titbg2.jpg);
}
/* (2) 사회페이지 */
.social {
  color: lightgreen;
  background-image: url(../images/titbg3.jpg);
}
/* (3) IT/과학페이지 */
.it {
  color: aqua;
  background-image: url(../images/titbg4.jpg);
}
/* (4) TV/연예페이지 */
.tv {
  color: lightgoldenrodyellow;
  background-image: url(../images/titbg5.jpg);
}

/* 2-2. 언론사로고 */
.press-logo img {
  height: 32px;
}
/* 2-3. 기사제목 */
.article-title {
  font-size: 33px;
}
/* 2-4. 기사사진  */
.article-picture img {
    width: 100%;
}
/* 이미지설명 */
.article-picture figcaption{
    /* 박스설정 */
    margin-bottom: 20px;
    text-align: center;

    /* 글자설정 */
    font-size: 15px;
    color: #555;
}
/* 2-5. 기사내용 */
.contents p{
    /* 글자설정 */
    font-size: 18px;
    /* 줄간격 lh - 숫자값은 배수임! */
    line-height: 1.7;
}
/* 2-6. 기자정보 */
.reporter{
    font-size: 16px;
    color: #333;
}
/* 2-7. 기사원문 */
